.detalhes_produtos{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}
.detalhes_produtos .titulos{
    display: flex;
    flex-direction: column;
}

.detalhes_produtos .titulos h4{
    font-size: 24px;
    color: #1E0E62;
}
.texto_peq{
    font-size: 12px;
    color: #8F8F9F;
}


.detalhes_produtos .titulos .valor{
    color: #E93A7D;
    font-size: 24px;
}

.detalhes_produtos .titulos .parcelas{
    font-size: 14px;
    color: #1E0E62;
    font-weight: 400;
}

.detalhes_produtos .tamanho ul{
    display: flex;
    gap: 5px;
}
.detalhes_produtos .tamanho ul li{
    border: solid 1px #8F8F9F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    padding: 9px;
}

.detalhes_produtos .botoes{
    display: flex;
}
.detalhes_produtos .botoes div{
    display: flex;
}

