.caminho{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.caminho div{
    width: 81.2%;
    height: 100%;
}

.caminho div ul{
    height: 100%;
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
}
    
.caminho div ul span{
    color: #E93A7D;
    font-size: 20px;
    font-weight: bold;
}

.caminho div ul a li{
    list-style: none;
    color: #8F8F9F;
    font-size: 12px;
    font-weight: normal;
}   

.caminho div ul a:last-child li{
    color: #482BE7;
}